<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458499728086-pquie2gj0km442c741h4t4c4kmm18d45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458499728086-pquie2gj0km442c741h4t4c4kmm18d45</string>
	<key>API_KEY</key>
	<string>AIzaSyA89SmvCVeCqXKkrf8MTn4SUoNK-9V1S3E</string>
	<key>GCM_SENDER_ID</key>
	<string>458499728086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidRozmajzl.drugInteractions</string>
	<key>PROJECT_ID</key>
	<string>pharmkit-55019</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmkit-55019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458499728086:ios:61f443d076c9d99f881f77</string>
	<key>DATABASE_URL</key>
	<string>https://pharmkit-55019.firebaseio.com</string>
</dict>
</plist>